{% extends 'base.html.twig' %}
{% block title %}{{ 'title.item.homepage'| trans }}{% endblock %}
{%  block main %}
    <div class="text-center">
        <h2>{{ 'body.item.title.first'| trans }}</h2>
    </div>
{% endblock %}